@model CRUDFuncionario.Models.GradeSalario

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<div>
    <h4>GradeSalario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min_salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min_salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max_salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max_salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fg_ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fg_ativo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_salario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
