@model IEnumerable<CRUDFuncionario.Models.GradeSalario>

@{
    ViewData["Title"] = "Index";
}

<h1>Salarios</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Min_salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fg_ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Min_salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fg_ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_salario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_salario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_salario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
